#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    // XY反転の後、scroll_processorを実行する
    // scroll_processorはSCROLL_LEYERがアクティブな時にXYを0にしてスクロールに変換する
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                       <&scroll_processor>;
};
